* {
	font:8pt MS Shell Dlg;
}

body {
	margin:0;
}

table {
	border-width:0;
	border-collapse:collapse;
	cursor:default;
}

table.tHeader {
	height:100%;
	width:100%;
	border:1px outset;
}

table.tHeader th {
	width:100%;
	font-weight:bold;
	color:threeddarkshadow;
}

#idResizer {
	cursor:col-resize;
	width:1px;
}

legend {
	color:threeddarkshadow;
}

/* Ячейки таблицы со списком хостов */
td.tdata {
	padding:0 2 0 2;
}

/* Подсветка текущего ряда или заголовка колонки */
.hglight {
	background-color:infobackground;
}

/* Перетаскиваемый ряд */
.dragRow {
	cursor:s-resize;
	color:window;
	background-color:threeddarkshadow;
}

/* Чекбокс */
input.chk {
	margin:-2 0 -1 -4;
}

/* Иконка хоста */
img {
	margin:1 0 -3 0;
}

/* Пользовательский стиль для выделения избранных хостов путем задания в ini-файле <q>host<q> */
q {
	color:threeddarkshadow;
	font-weight:bold;
}

/* Выделение результатов поиска текста */
#idFound {
	background-color:yellow;
}

/* Выделение текущего результата поиска */
.CurrentFound {
	border: 1px solid red;
}

/* Отметка цветом значения ResponseTime хоста */
#idOnline {
	font:14px Marlett;
}

/* Иконка Save */
#idSave {
	border: 1px outset;
	width:16px;
	height:16px;
	margin:0 6 0 0;
	filter:progid:DXImageTransform.Microsoft.Emboss()
			progid:DXImageTransform.Microsoft.Alpha(opacity=50);
}